body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1 ;
}
/*.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
  color: #fe424d; 
  font-size: rem; 
}
.nav-link{
    color: #222222 !important;
}*/
/* Footer*/
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    
}
.f-info-links,
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
/*Cards*/
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
/*Card Effect*/
.card-img-overlay{
    opacity: 0;

}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* New Page*/
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/*Edit Page*/
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/*Show Page*/
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}


/* Map */
#map {
    height: 400px;
    width: 80vh;
 }
 
/*scroll*/
.custom-select {
    position: relative;
    font-family: Arial;
    display: inline-block;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: rgb(229, 237, 243);
    border-radius: 10px 10px 0px 0px;
  }
  
  .select-selected-bottom-rounded {
    border-radius: 10px 10px 10px 10px;
  }
  
  .select-selected-bottom-square {
    border-radius: 10px 10px 0px 0px;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 45%;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 25%;
  }
  
  /*set the styling and height for the list when the select box is open (active), the overflow-y property controls the scrolling:*/
  .select-items{
    border-radius: 0px 0px 10px 10px;
    height: 110px;
    overflow-y: auto;
    position: absolute;
    background-color: rgb(211, 244, 222);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #1c1c1c;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  }
  
  /* scrollbar width */
  .select-items::-webkit-scrollbar {
    width: 15px;
  }
  
  /* scrollbar track */
  .select-items::-webkit-scrollbar-track {
    background:  #b6e6d9;
    border-radius: 0px 0px 10px 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
   
  /* scrollbar handle */
  .select-items::-webkit-scrollbar-thumb {
    background: #c1e88a;
    border-radius: 10px; /* optional rounded handle */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-image: -webkit-linear-gradient(45deg,
                                                rgba(255, 255, 255, .2) 25%,
                                                transparent 25%,
                                                transparent 50%,
                                                rgba(255, 255, 255, .2) 50%,
                                                rgba(255, 255, 255, .2) 75%,
                                                transparent 75%,
                                                transparent);
  }
  
  /* scrollbar handle on hover */
  .select-items::-webkit-scrollbar-thumb:hover {
    background: #6cb6ff;
    background-image: -webkit-linear-gradient(45deg,
                                                rgba(255, 255, 255, .2) 25%,
                                                transparent 25%,
                                                transparent 50%,
                                                rgba(255, 255, 255, .2) 50%,
                                                rgba(255, 255, 255, .2) 75%,
                                                transparent 75%,
                                                transparent);
  }

  
  #filters{
    display: flex;
  
    align-items: center;
    background-color: white;
}
.filter{
    text-align: center;
   
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.6;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}
.filter p{
    font-size: 0.8rem;
    font-weight: 400;
}
.tax-info{
   display:none; 
}
/*.tax-toggle{
   border: 1px solid black;
   border-radius: 1rem;
   height:3.25rem;
   padding: 8px 15px !important; 
   margin-left: 170px;
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   font-size: 15px;
}
.check-box{
    display: flex !important;
    align-items: center;
    justify-content: center;
}*/
.form-check{
  border: 1px solid rgb(116, 113, 113) !important;
  border-radius: 10px;
  padding: 7px 18px 7px 40px !important;
  margin-left: 80px;
  height: 40px !important;
}
@media only screen and (max-width:1024px){
    #filters{
        overflow-x: scroll;
    }
    .form-check{
        display: flex !important;
        flex-direction: row !important;
        margin-left: 20px;
    }
    .filter{
        margin-top: 1.5rem;
    }
}

 /*Airbnb your home*/
 @media only screen  and (max-width:320px){
    .newlist {
        font-size: 18px !important;

    }
    .form-label{
        font-size: 15px;
    }
    .form-control{
        font-size: 14px !important;
    }
 }
 @media  (min-width:320px) and (max-width:4255px){
    .row h3 {
        font-size: 18px !important;
    }
    .form-label{
        font-size: 15px;
    }
    .form-control{
        font-size: 14px !important;
    }
 }


 /*Sign up page*/

 .heading{
    font-size: 25px;
 }
 @media only screen  and (max-width:1440px){
    .heading{
        font-size: 25px;
        margin-left: 250px !important;
 }
 }
 @media only screen  and (max-width:1024px){
    .heading{
        font-size: 22px;
        margin-left: 200px !important;
 }
 }

 @media only screen   and (max-width:768px){
    .heading{
        font-size: 18px !important;
       margin-left: 100px !important;
    }
    
 }
 @media only screen and (min-width:375px)  and (max-width:425px){
    .signup-btn{
        font-size: 10px !important;
    }
    .heading{
        font-size: 15px !important;
        margin-left: 60px !important;  
    }
 }

 @media only screen  and (max-width:375px){
    .heading{
        font-size: 15px !important;
        margin-left: 42% !important;  
    }
    .signup-btn{
        font-size: 10px !important;
    }
 }

 /*Login */
 
 @media only screen  and (max-width:768px){
    .login{
        font-size: 20px;
    }
 }

 @media only screen  and (max-width:375px){
    .login{
        font-size: 16px;
    }
    .login-btn{
        font-size: 10px !important;
    }
 }


 @media only screen  and (max-width:768px){
    #map {
        height: 180px !important;
        width: 340px !important;
        border-radius: 5px;
     }
 }

 @media only screen  and (width <= 426px){
    .show-img{
        width: 250px !important;
       
    }
    #map {
        height: 150px !important;
        width: 240px !important;
        border-radius: 5px;
       
     }
     .showcard{
        margin-left: 75px !important;
     }
     .edit-btn{
        width: 80px !important;
     }
     .comment{
        margin-left: 75px !important;
     }
     .review-card{
        display: flex !important;
        flex-wrap: wrap !important;
        width: 250px !important;
     }
     .mapbox{
        margin-left: 80px !important;
     }
    
 }

 @media only screen  and (width <= 376px){
    .showcard{
        margin-left: 50px !important;
     }
     .card-tt{
        margin-left: 65px !important;
     } 
     .card-text {
        font-size: 15px !important;
     } 
     .edit-btn{
        width: 60px !important;
        border-radius: 15px !important;
     } 
     .delete-btn{
        width: 70px !important;
        border-radius: 15px !important;
     }
     .comment-head{
        font-size: 20px !important;
     }
    .review-card{
        width: 200px !important;
    }
    .card-title{
        font-size: 17px !important;
    }
    .mapbox{
        margin-left: 60px !important;
    }
 }
 @media only screen  and (width <= 321px){
    .card-tt h3 {
        font-size: 16px !important;
    }
    .card-tt{
        margin-left: 45px !important;
     } 
     .show-img{
        width: 200px !important;
     }
     .comment{
        margin-left: 50px !important;
     }
     .mapbox{
        margin-left: 35px !important;
    }
    .edit-img{
        width: 200px !important;
        margin-top: 15px !important;
        border-radius: 7px !important;
    }
 }

 @media only screen  and (width <= 426px){
    .card-img-top{
        width: 350px !important;
        height: 260px !important;
    }
    .listing-link{
        margin-left: 28px !important;
    }
 }
 @media only screen  and (width <= 376px){
    .card-img-top{
        width: 310px !important;
        height: 260px !important;
    }
    .listing-link{
        margin-left: 30px !important;
    }
 }
 @media only screen  and (width <= 321px){
   
    
    .card-img-top{
        width: 250px !important;
        height: 200px !important;
    }
    .listing-link{
        margin-left: 20px !important;
    }
    
 }